*{
    box-sizing: border-box;
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 0;
}
header{
    display: flex;
    background-color: rgba(255, 255, 0,0.3);
}
body{
    margin: 0 40px;
}
nav{
    background-color: deepskyblue;
    padding: 3px;
}
nav a{
    text-decoration: none;
    border: 1px ;
    padding: 3px;
    margin: auto;
    color: azure;
}
main{
    /* background-color: yellowgreen; */
    background-image: url(images/sunflowers-3292932_1920.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: auto; /* medida relativa de viewport height 
    como el contenido se desborda, se coloca auto para que se ajuste el 
    contenido a la pantalla*/
    background-attachment: fixed ;/* sirve para dejar fija la imagen de fondo */
}
img{
    width: 100%;
}
.logo{
    margin-top: 20px;
    padding: 10px;
}
.logo img{
    width:45px;
    border-radius: 10px;
}
.galeria{
    background-color: rgb(0, 0, 0,0.05);
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.galeria img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px dashed;
}
.row{
    display: flex;
    /* height: 150px; */ /* Se deja de utilizar para poder continuar estilizando
    el contenido, caso contrario, se va a posicionar encima de los elementos
    que le continuan abajo */
}
.left{
    background-color: aquamarine;
    width: 40%;
}
.right{
    background-color: rgb(0, 182, 121);
    width: 60%;
}
#diff{
 border-radius: 1px;
}
footer{
    background-color: tomato;
}
